.footer-container{
    justify-self:center;
    padding:1rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    gap:5rem;
    position:fixed;
    bottom:-3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

small{
    cursor:pointer;
      text-wrap: nowrap;
}

small:hover{
   color: var(--yellow); 
}
.copy{
    font-size:0.9rem;
    color:white;
    text-wrap: nowrap;
}
