.header {
  position: fixed;
  top: 0;
  left: 0%;
  background-color: var(--green);
  padding: 0.9rem .5rem;
  box-shadow: 0 4px 6px rgba(14, 9, 9, 0.1);
  width: 100%;
  max-width: 100vw;
  /* optional */
  display: flex;
  justify-content: space-evenly;
  gap: 40rem;
  align-items: center;
  z-index: 999;
}

.ham-menu-box {
  display: none;
}



.logo {
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  font-style: italic;
  padding: .2rem .6rem;
  border: 2px dashed var(--yellow);
  border-radius: 2rem;
  cursor: pointer;
  position: relative;
}

.logo span {
  color: var(--yellow);
}

.logo sup {
  position: absolute;
  top: -25%;
  font-size: 1.8rem;
}

.logo sup {
  animation: glitter 2s infinite ease-in-out;
}

@keyframes glitter {

  0%,
  100% {
    opacity: 0.8;
    filter: brightness(1);
    transform: scale(1.1);

  }

  50% {
    opacity: 1;
    filter: brightness(2.5);
    transform: scale(1.1);
    text-shadow: 2px 2px 10px var(--yellow);

  }
}



.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  position: relative;
  display: inline-block;

}

.nav a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  border-bottom: 2px dashed var(--yellow);
  /* background-color:var(--yellow);  */
  transition: width 0.3s ease-in-out;
}



.nav a:hover::after {
  width: 100%;
  color: var(--yellow);
}

.nav a:hover {
  color: var(--yellow)
}


@media (max-width:1024px) {
  .header {
    padding: 1.9rem .5rem;
    gap: 22rem;
  }

  .logo {
    font-size: 2.2rem;
    border-radius: 2.4rem;
  }

  .nav {
    position: absolute;
    top: 9rem;
    right: -110vw;
    width: 100%;
    max-width: 420px;
    height: calc(100vh - 6rem);
    background: rgba(36, 36, 36, 0.682);
    /* frosted background feel */
    backdrop-filter: blur(12px);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 2rem 0 0 2rem;
    transition: 0.3s ease-in-out, opacity 0.3s ease;
    z-index: 12000;
  }


  .nav.active {
    right: 0;
    z-index: 1000000;
  }

  /* Smooth link hover effect */
  .nav a {
    font-size: 2rem;
    text-decoration: none;
    border: .1px solid var(--green);
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    margin: 1rem 0;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .nav a:hover {
    transform: scale(1.05);
  }


  .nav a:hover::after {
    width: 0%;
    color: var(--yellow);
  }


  .ham-menu-box {
    display: flex;
  }

  .ham-menu {
    height: 35px;
    width: 50px;
    margin-left: auto;
    position: relative;
  }

  .ham-menu span {
    height: 2px;
    width: 100%;
    background-color: var(--background);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
  }

  .ham-menu span:nth-child(1) {
    top: 25%;
    width: 30px;
  }

  .ham-menu span:nth-child(3) {
    top: 75%;
    width: 30px;
  }


  .ham-menu.active span:nth-child(1) {
    top: 38%;
    width: 15px;
    transform: translate(-50%, -50%) rotate(33deg);
  }

  .ham-menu.active span:nth-child(2) {
    left: 30%;
    width: 35px;
  }

  .ham-menu.active span:nth-child(3) {
    top: 56%;
    width: 15px;
    transform: translate(-50%, 50%) rotate(-33deg);
  }


}